<div class="container-fluid" style="padding-left: 50px">
  <form [formGroup]="createForm" >
    <div class="row"  >
      <div class="form-group col-3" >
        <label for="InputName">Name</label>
        <input type="text" class="form-control" id="InputName"
               placeholder="Enter the product name" formControlName="name"
               [ngClass]="validationErrors('name')"
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-5" >
        <label for="InputDescription">Description</label>
        <input type="text" class="form-control" id="InputDescription"
               placeholder="Enter the product's description" formControlName="description"
               [ngClass]="validationErrors('description')"
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-5">
        <label for="InputMarkets">Markets</label>
        <input type="text" class="form-control" id="InputMarkets"
               placeholder="Enter the target markets divided by a ," formControlName="targetMarkets"
               [ngClass]="validationErrors('targetMarkets')"
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group col-5">
        <label for="InputTechnologies">Technologies</label>
        <input type="text" class="form-control" id="InputTechnologies"
               placeholder="Enter the technologies used divided by a ," formControlName="technologies"
               [ngClass]="validationErrors('technologies')"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <button class="btn btn-dark" (click)="save()">Save Product</button>
    </div>
  </form>
</div>
