<div class="container-fluid" style="padding-left: 50px">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-2" >
        <label for="InputName">Name</label>
        <input type="text" class="form-control" id="InputName"
               placeholder="Enter the product name" formControlName="nameSearch"
        >
      </div>
      <div class="form-group col-4">
        <label for="InputMarkets">Markets</label>
        <input type="text" class="form-control" id="InputMarkets"
               placeholder="Enter the target markets divided by a ," formControlName="targetMarketsSearch"
        >
      </div>
      <div class="form-group col-4">
        <label for="InputTechnologies">Technologies</label>
        <input type="text" class="form-control" id="InputTechnologies"
               placeholder="Enter the technologies used divided by a ," formControlName="technologiesSearch"
        >
      </div>
      <div class="form-group col-2 align-self-xl-end" >
        <button class="btn btn-dark" (click)="getProducts()">Search</button>
      </div>
    </div>
  </form>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Target Markets</th>
    <th scope="col">Technologies</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of productList; index as i">
    <th scope="row">{{i}}</th>
    <td>{{product.productName}}</td>
    <td>{{product.description}}</td>
    <td>{{product.targetMarketStack.toString()}}</td>
    <td>{{product.technologiesStack.toString()}}</td>
    <td><button class="btn btn-primary">EDIT</button></td>
    <td><button class="btn btn-danger"(click)="deleteProduct(product.id)">DELETE</button></td>
  </tr>
  </tbody>
</table>
